@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');



html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    font-family: 'DM Mono', monospace;

}

#form {
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: center
}

input {
	margin-left: 10px;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	background-color: #e8ebe9;
	overflow: scroll;
	overflow-x: hidden;
}

.box {
	width: calc(100vw / 3.5);
	height: calc(100vw / 3.5);
	margin: 10px;
	background-color: #e8ebe9;
}

form {
    padding-top: 30px;
    padding-bottom: 30px;
}

#queryInput, #submit, #clear {
    font-family: 'DM Mono', monospace;
} 

#submit, #clear {
    background-color: #e8ebe9;
}